<div class="row mt-5">
    <div class="col">
        <div class="card">
            <div class="row">
                <div class="col-4">
                    <div class="card-body">
                        <h6 class="card-title">Enlaces de Trabajo</h6>
                        <nav class="nav flex-column">
                            <a class="nav-link" href="#">Github</a>
                            <a class="nav-link" href="#">Linkedin</a>
                        </nav>
                        <h6 class="card-title mt-2">Habilidades</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                    </div>
                </div>
                <div class="col-8">
                    <div class="card-body">
                        <h5 class="card-title">Ruben E. Tejeda Roa</h5>
                        <h6 class="card-title text-primary">Lider de Sistemas de Información</h6>
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Timeline</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                            </li>
                        </ul>
                        <table class="table">
                            <tr>
                                <th>Experiencia</th>
                                <td>5 Años</td>
                            </tr>
                            <tr>
                                <th>Precio Hora</th>
                                <td>0.6 UF</td>
                            </tr>
                            <tr>
                                <th>Total de Proyectos </th>
                                <td>33</td>
                            </tr>
                            <tr>
                                <th>Sistemas</th>
                                <td>4</td>
                            </tr>
                            <tr>
                                <th>Servidores</th>
                                <td>8</td>
                            </tr>
                            <tr>
                                <th>Nivel de Ingles</th>
                                <td>Técnico avanzado</td>
                            </tr>
                            <tr>
                                <th>Disponibilidad</th>
                                <td>6 Meses</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>